# Configuration Base Source ERP
POSTGRES_SOURCE_DB=erp_db
POSTGRES_SOURCE_USER=erp_user
POSTGRES_SOURCE_PASSWORD=your_erp_password
POSTGRES_SOURCE_PORT=5431

# Configuration Data Warehouse (DWH)
POSTGRES_DWH_DB=dwh_db
POSTGRES_DWH_USER=dwh_user
POSTGRES_DWH_PASSWORD=your_dwh_password
POSTGRES_DWH_PORT=5433

# Configuration Orchestrateur Mage.ai
MAGE_PORT=6789
MAGE_PROJECT_NAME=demo_project

# Configuration Business Intelligence Metabase
METABASE_PORT=3000